
* {
    margin: 0;
    padding: 0;
}

ion-icon {
    z-index: 10;
}

:root {
    --background-: rgb(255, 255, 255) ;
    --width-: 45px;
}

body {
    height: 100vh;
    background-color: var(--background-);
    display: flex;
    overflow: hidden;
}

.sideBare .title {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.sideBare .title span {
    color: white;
    padding-left: 10px;
    width: fit-content;
}

.sideBare .title img {
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}

.sideBare .title {
    margin-bottom: 30px;
    padding: 10px 0px 10px 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(0, 0, 0, 0.5),
                inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px 10px 10px 10px;
    background-color:  #2a2a2b;
    border: 1px solid black;

}

.sideBare {
    /* border: 1px solid black; */
    height: 100vh;
    width: var(--width-);
    background-color: #242424;
    border-radius: 0px 0px 10px 0;
    /* overflow: hidden; */
    transition: all 0.3s;
}


.sideBare .list {
    height: calc( 100% - 77px)
}

   
.sideBare .list li div {
    position: relative;
    width: 100%;
    height: 100%;
    /* transition: all 0.3s; */
}

.sideBare .list li ,
.sideBare .list li div {
    z-index: 5;

}

.sideBare .list li ,
.sideBare .list ul  {
    list-style: none;
    width: 100%;
    height: 36px;
    /* cursor: pointer; */
    /* transition: all 0.3s; */
}

span.span {
    position: absolute;
    left: 50px;
    transition: all 0.3s;
    display: inline;
    width: 10rem;

}

.sideBare .list li span {
    color: white;   
}

/* li hover no-full */
.sideBare.no-full .list li:hover {
    z-index: 300 !important;

}
.sideBare.no-full .list li:hover span {
    color: black !important;
    opacity: 1 !important;
    z-index: 300 !important;
}

.sideBare .list li div {

    
    /* overflow: hidden; */
    margin:0;
    padding:0;
    display: flex;
    /* align-items: center; */
    align-items: center;
    height: 100%;
    /* transition: all 0.3s; */
}

.sideBare .list li div ion-icon,
.sideBare .list li div span {
    transition: all 0.3s;
}

.sideBare.full .list li div.action ion-icon,
.sideBare.full .list li div.action span {
    transform: translateX(10px);
}

.sideBare.no-full .list li div.action span {
    z-index: 0;
}

/* ion-icon */
.sideBare .list li ion-icon {
    color: white;
    margin-left: 15px;
    margin-right: 5px;
}

.sideBare .list .tab_input {
    width: 100%;
}

.sideBare .list ul.i{
    display: flex;
    position: absolute;
    bottom: 5px;
}

.sideBare .list ul.i ion-icon {
    margin-left: 13px;
    color: white;
    font-size: 20px
}

.sideBare .list ul.i span {
    color: white;
}

.sideBare .list ul.i .container p {
    margin: auto;
    width : 243px;
    text-align: center;
}

.sideBare .list ul.i .container {
    position: absolute;
    height : 30px;
    color: white;
    text-align: center;
    background-color: black;
    width : 0;
    border-radius: 10px;
    padding: 0px 0px;
    margin: auto;
    left: calc(var(--width-) + 10px);
    bottom: 10px;
    /* right: 0; */
    transition: all 0.3s;
    overflow: hidden;
    /* text-align: center; */
}

.sideBare .list ul.i:hover .container {
    padding: 0px 10px;
    width : 243px;
}


.sideBare .arrow  {
    /* z-index: 4; */
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    right: -15px;
    background-color: white;

    
}

.arrow ion-icon {
    height: 20px;
    width: 20px;
}


.body {
    width: calc(100% - var(--width-));
    z-index: 10;
    height: 100%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}

.her-back {
    width: 100%;
    text-align: center;
}

.tab_input {
    overflow-y: auto;
    min-height: calc(100% - 46px);
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 95%;
    justify-content: space-between;
}

.main .pass {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main ul {
    background-color: black;
    width: 30%;
    height: 200px;
    margin: 10px;
    max-width: 250px;
    min-width: 128px;
    border-radius: 10px;
    position: relative;
}

.main ul img {
    border-radius: 10px;
    width: 95%;
    margin: 0% 2.5%;
}

.main ul .content {
    width: 90%;
    margin: 1% 5%;


}

.main ul .expand-outline {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    margin-bottom: 5px;
    bottom: 0;
}

.main ul .expand-outline ion-icon {
    color: white;
    margin: 0px 10px;
    font-size: 15px;
}

.main ul .content span.text {

    margin-top: 10px;
    /* font-size:  70%; */
    display: block;
    color: white;
}


.main ul .content span {
    /* width: 10vw; */

    font-size:  3vb;
    display: block;
    color: white;
}

.back-img {
    width: 100%;
}

#mous {
    height: 160px;
    width: 160px;
}

.srea {
    z-index: 200;
    /* position: relative; */
    width: 100%;
    height: 46px;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.srea ion-icon {
    height: 20px;
    width: 20px;
    margin: 0px 3px;
}

.srea .box_befor {
    height: 25px;
    width: 25px;
    border: 2px solid gray;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.srea .se {
    display: flex;
    height:55%;
    width: 60%;
    border: 1px solid lavender;
    /* outline: lavender; */
}



.srea .se ion-icon {
    height: calc(100% + 2px);
    color: #fff;
    cursor: pointer;

}

.srea .se input {
    background-color: rgb(41, 39, 39);
    width: 100%;
    height: 100%;
    border: none;
    color:rgb(255, 255, 255);
    outline: none;
    margin: 0px 5px;
    padding: 0px 5px;
}

.body .tile-container {
    /* margin: 10px; */
    margin-top: 20px;
    /* height: 100px; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: red */
}

.tile-container {
    height: 40px;
}

.tile-container.full {
    height: 100px;
}

.tile-container .container .files {
    width: 100%;
    height: 40px;

}

.tile-container .container {
    height: 100%;
    width: 90%;
    background-color: rgb(129, 129, 129);
    border-radius: 10px;
    overflow: hidden;

}

.tile-container .container .files {
    display: flex;
    justify-content: space-between;
}

.tile-container .container .files .left {
    display: flex;
    align-items: center;
}

.tile-container .container .files .left .text{
    margin-left: 10px;
}

.tile-container .container .files .right {
    display: flex;
    align-items: center;
}

.tile-container .container .files .right ion-icon {
    margin-right: 10px;
}

/* .tile-container .container .files .right .warning {
    position: relative;
} */

.tile-container .container .files .right .warning .content {
    position: absolute;
    z-index: 20;
    right: 30px;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.3s;
    background-color: white;
    border-radius: 10px;
    padding: 0px;
    max-height: 100px;

}

.tile-container .container .files .right .warning:hover .content {
    height: fit-content;
    width: 200px;
    padding: 5px;
    box-shadow: 0px 0px 5px rgb(41 39 39), inset 0px 0px 3px rgb(41 39 39 / 50%);
}

.body .main .index_parser {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    /* position: relative; */
    /* z-index: 4000; */
    /* bottom: 10px; */

}

.body .main .index_parser div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.body .main .index_parser .tab_action {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


